In [8]:
import numpy as np

In [9]:
my_numpy_array = np.random.rand(3)
type(my_numpy_array)

numpy.ndarray

In [10]:
my_numpy_array[0]

0.997575698517827

In [11]:
import pandas as pd

In [12]:
my_series = pd.Series(my_numpy_array)

In [13]:
my_series[0]

0.997575698517827

In [14]:
my_series = pd.Series(my_numpy_array, index=["First","Second", "Third"])

In [15]:
my_series["First"]

0.997575698517827

In [16]:
my_series

First     0.997576
Second    0.513242
Third     0.302014
dtype: float64

In [17]:
my_series.index

Index(['First', 'Second', 'Third'], dtype='object')

In [18]:
array_2d = np.random.rand(3,2)

In [19]:
array_2d[0,1]

0.6270348983216344

In [20]:
df=pd.DataFrame(array_2d)

In [21]:
df

          0         1
0  0.067795  0.627035
1  0.606529  0.517435
2  0.905137  0.881759

In [22]:
df[0,1]

KeyError: (0, 1)

In [ ]:
df.columns = ["First", "Second"]
df

In [ ]:
df["Second"]