In [1]:
import pandas as pd
import os
import json

In [2]:
# Example usage of from records method
records =[("Expresso", "100"),
          ("Flat White","150")]
df = pd.DataFrame.from_records(records)
df

            0    1
0    Expresso  100
1  Flat White  150

In [3]:
# Example usage of from records method
df=pd.DataFrame.from_records(records, 
                             columns=["Coffee","Price"])
df

       Coffee Price
0    Expresso   100
1  Flat White   150

In [4]:
KEYS_TO_USE = ['id','all_artists', 'title', 'medium', 'dateText', 'acquisitionYear', 'height', 'width', 'units']

def get_record_from_file(filePath, keysToUse):
    with open(filePath) as artworkFile:
        content = json.load(artworkFile)
    record =[]
    for field in keysToUse:
        record.append(content[field])
    return tuple(record)

In [5]:
# Single file demo
SAMPLE_JSON = os.path.join('..','SampleData','artworks','a','000','a00001-1035.json')
sampleRecord = get_record_from_file(SAMPLE_JSON,KEYS_TO_USE)
sampleRecord

(1035,
 'Robert Blake',
 'A Figure Bowing before a Seated Old Man with his Arm Outstretched in Benediction. Verso: Indecipherable Sketch',
 'Watercolour, ink, chalk and graphite on paper. Verso: graphite on paper',
 'date not known',
 1922,
 '419',
 '394',
 'mm')

In [6]:
def read_artworks_from_json(keysToUse):
    JSON_ROOT = os.path.join('..','SampleData','artworks')
    artworks = []
    for root, _, files in os.walk(JSON_ROOT):
        for f in files:
            if f.endswith('json'):
                record = get_record_from_file(
                    os.path.join(root,f),
                    keysToUse
                )
                artworks.append(record)
            break
    df = pd.DataFrame.from_records(artworks,columns=keysToUse, index = "id")
    return df

In [7]:
df = read_artworks_from_json(KEYS_TO_USE)