In [1]:
import pandas as pd
import os

In [2]:
# Read data pickled previously
df = pd.read_pickle(os.path.join(os.getcwd(),'../data_frame.pickle'))
df

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922.0,394,419.0,mm
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922.0,311,213.0,mm
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785.0,1922.0,343,467.0,mm
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,1922.0,318,394.0,mm
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826.0,1919.0,243,335.0,mm
...,...,...,...,...,...,...,...,...
122960,"P-Orridge, Genesis",Larvae (from Tampax Romana),"Perspex, Wood, hairpiece, tampon and human blood",1975,2013.0,305,305.0,mm
122961,"P-Orridge, Genesis",Living Womb (from Tampax Romana),"Wood, Perspex, plastic, photograph on paper, t...",1976,2013.0,305,305.0,mm
121181,"Hatoum, Mona",Present Tense,Soap and glass beads,1996,2013.0,45,2410.0,mm
112306,"Creed, Martin",Work No. 227: The lights going on and off,Gallery lighting,2000,2013.0,NaN,NaN,NaN
127035,"Brunias, Agostino",Dancing Scene in the West Indies,Oil paint on canvas,1764,2013.0,508,660.0,mm

In [ ]:
# Two way of accessing single colum
df.artist is  df["artist"]

In [ ]:
# Demo Filtering
artists = df["artist"]
artist_unique = pd.unique(artists)
print(len(artist_unique))

In [ ]:
# Demo Filering : one line
print(len(pd.unique(df["artist"])))

In [ ]:
# Demo Filtering
s = df['artist'] == 'Bacon, Francis'
s.value_counts()

In [ ]:
#Other way filtering
artist_counts = df['artist'].value_counts()
artist_counts['Bacon, Francis']

In [ ]:
# Indexing using loc
df.loc[1035,'artist'] # row label = 1035, column artists
df.loc[df['artist'] == 'Bacon, Francis',:] # expressions and willcard all column

In [ ]:
# Indexing using iloc
# df.iloc[100:300, [0,1,4]] # row from 100 to 299 index, columns 0,1,4 (index/id is is not  0)
#df.iloc[:10, [0,1,4]]  # all 0 to 9 row index
#df.iloc[:, :]  # all rows and columns
#df.iloc[0,:]
df.iloc[0:2,0:2] # Slicing

In [4]:
# Potential Problem
# Try Multiplication : Expected to fail

#df['height'] * df['width']
df['width'].sort_values().head()
df['width'].sort_values().tail()

id
121283    NaN
117863    NaN
120549    NaN
122900    NaN
112306    NaN
Name: width, dtype: object

In [ ]:

#Try Convert to Numeric: 
# Expected to fail because of NAN or non convertible to numeric data

#pd.to_numeric(df['width'])

In [ ]:
# Force NaNs to Width
pd.to_numeric(df['width'], errors='coerce')
df['width'] = pd.to_numeric(df['width'], errors='coerce')

In [ ]:
# Force NaNs to Height
pd.to_numeric(df['height'], errors='coerce')
df['height'] = pd.to_numeric(df.loc[:,'height'], errors='coerce')

In [ ]:
# Try Calculate area
df['height'] * df['width']
df['units'].value_counts() # check all is millimeter

In [ ]:
# Create series area and attach to DF
area = df['height'] * df['width']
df = df.assign(area=area)
df

In [ ]:

# Find the row that has max area

#df['area'].max() # Find the maximum area in the data frame
#df['area'].idxmax() # Find the index of maximum area
#df.loc[df['area'].idxmax(),:] # get the row with max area