In [24]:
import pandas as pd
import os
import numpy as np
df = pd.read_pickle(os.path.join('..','data_frame.pickle'))

In [48]:
# Iteration
small_df = df.iloc[49980:50019, :].copy()
grouped = small_df.groupby('artist')
print(type(grouped))
for name, group_df in grouped:
    print(name)
    print(group_df)
    #break

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
Frost, Sir Terry
                artist            title               medium    year
id
4704  Frost, Sir Terry        Blue Moon  Lithograph on paper  1952.0  \
4705  Frost, Sir Terry      Boat Shapes     Linocut on paper  1952.0
4706  Frost, Sir Terry      Boat Shapes     Linocut on paper  1954.0
4707  Frost, Sir Terry      Boat Shapes     Linocut on paper  1954.0
4708  Frost, Sir Terry            Leeds    Drypoint on paper  1956.0
4709  Frost, Sir Terry  Camping, Anduze     Etching on paper  1979.0
4710  Frost, Sir Terry     Umea, Sweden     Etching on paper  1979.0
4711  Frost, Sir Terry    Self-Portrait     Etching on paper  1980.0

      acquisitionYear width height units
id
4704           1983.0   355    273    mm
4705           1983.0   132    143    mm
4706           1983.0   131    155    mm
4707           1983.0   193    267    mm
4708           1983.0   125    167    mm
4709           1983.0   257    209    mm
4710           1983.0   NaN    NaN   NaN
4711           1983.0   277    200    mm
Phillips, Esq Tom
                  artist       title            medium    year
id
11838  Phillips, Esq Tom  [colophon]  Etching on paper  1979.0  \

       acquisitionYear width height units
id
11838           1983.0   292    204    mm
Wols
      artist       title                         medium    year
id
16412   Wols  [no title]               Etching on paper  1937.0  \
16413   Wols  [no title]  Etching and drypoint on paper  1937.0
16414   Wols  [no title]  Etching and drypoint on paper  1937.0
16415   Wols  [no title]  Etching and drypoint on paper  1937.0
16416   Wols  [no title]  Etching and drypoint on paper  1937.0
16417   Wols  [no title]               Etching on paper  1937.0
16418   Wols  [no title]  Etching and drypoint on paper  1937.0
16419   Wols  [no title]  Etching and drypoint on paper  1937.0
16420   Wols  [no title]  Etching and drypoint on paper  1937.0
16421   Wols  [no title]  Etching and drypoint on paper  1937.0
16422   Wols  [no title]  Etching and drypoint on paper  1937.0
16423   Wols  [no title]               Etching on paper  1937.0
16424   Wols  [no title]  Etching and drypoint on paper  1937.0
16425   Wols  [no title]               Etching on paper  1937.0
16426   Wols  [no title]  Etching and drypoint on paper  1937.0
16427   Wols  [no title]  Etching and drypoint on paper  1937.0
16428   Wols  [no title]  Etching and drypoint on paper  1937.0
16429   Wols  [no title]  Etching and drypoint on paper  1937.0
16430   Wols  [no title]  Etching and drypoint on paper  1937.0
16431   Wols  [no title]  Etching and drypoint on paper  1937.0
16432   Wols  [no title]  Etching and drypoint on paper  1937.0
16433   Wols  [no title]  Etching and drypoint on paper  1937.0
16434   Wols  [no title]  Etching and drypoint on paper  1937.0
16435   Wols  [no title]  Etching and drypoint on paper  1937.0
16436   Wols  [no title]  Etching and drypoint on paper  1937.0
16437   Wols  [no title]  Etching and drypoint on paper  1937.0
16438   Wols  [no title]  Etching and drypoint on paper  1937.0
16439   Wols  [no title]  Etching and drypoint on paper  1937.0
16440   Wols  [no title]  Etching and drypoint on paper  1937.0
16441   Wols  [no title]  Etching and drypoint on paper  1937.0

       acquisitionYear width height units
id
16412           1983.0   130     80    mm
16413           1983.0   187    102    mm
16414           1983.0   248    168    mm
16415           1983.0   149    102    mm
16416           1983.0   203    120    mm
16417           1983.0   130     79    mm
16418           1983.0   124     98    mm
16419           1983.0   140     89    mm
16420           1983.0   140     86    mm
16421           1983.0    83     79    mm
16422           1983.0   200    146    mm
16423           1983.0    60     98    mm
16424           1983.0   124     98    mm
16425           1983.0   124     98    mm
16426           1983.0   204    118    mm
16427           1983.0   105     98    mm
16428           1983.0   197    149    mm
16429           1983.0   102    120    mm
16430           1983.0   118     95    mm
16431           1983.0   140     79    mm
16432           1983.0   124     95    mm
16433           1983.0   105     73    mm
16434           1983.0   121    102    mm
16435           1983.0   121     92    mm
16436           1983.0   124     98    mm
16437           1983.0   124     98    mm
16438           1983.0   124     98    mm
16439           1983.0   102     70    mm
16440           1983.0   105     70    mm
16441           1983.0   324    248    mm

In [26]:
# Aggregate # Mins
for name, group_df in small_df.groupby('artist'):
    min_year = group_df['acquisitionYear'].min()
    print (f"{name}: {min_year}".format())

Frost, Sir Terry: 1983.0
Phillips, Esq Tom: 1983.0
Wols: 1983.0

In [42]:
# Fill values function 
def fill_values(series):
    values_counted = series.value_counts()
    if values_counted.empty:
        return series
    most_frequent = values_counted.index[0]
    new_medium = series.fillna(most_frequent)
    return new_medium

# Transform function
def transform_df(source_df):
    group_dfs = []  
    for name, group_df in source_df.groupby('artist'):
        filled_df = group_df.copy()
        filled_df.loc[:, 'medium'] = fill_values(group_df['medium'])
        group_dfs.append(filled_df)
        new_df = pd.concat(group_dfs)
    return new_df

In [49]:
small_df.loc[[4704,16441], 'medium'] = np.nan

In [45]:
# Check the result
# small_df.loc[[4704,16441], 'medium'] = np.nan
# Equivalent of editing by hand

filled_df = transform_df(small_df)

In [50]:
# Built-ins
# Transform
grouped_mediums = small_df.groupby('artist')['medium']
small_df.loc[:, 'medium'] = grouped_mediums.transform(fill_values)

In [60]:
# Min
small_df.groupby('artist')["acquisitionYear"].agg(np.min)
small_df.groupby('artist')["acquisitionYear"].min()

artist
Frost, Sir Terry     1983.0
Phillips, Esq Tom    1983.0
Wols                 1983.0
Name: acquisitionYear, dtype: float64

In [54]:
# Filter
grouped_titles = small_df.groupby('title')
title_counts = grouped_titles.size().sort_values(ascending=False)

In [15]:
# Lamnda Filter
condition = lambda x: len(x.index) > 1
dup_titles_df =grouped_titles.filter(condition)
dup_titles_df.sort_values('title', inplace=True)