In [ ]:
import pandas as pd
import os
import numpy as np
df = pd.read_pickle(os.path.join('..','data_frame.pickle'))

In [ ]:
# Iteration
small_df = df.iloc[49980:50019, :].copy()
grouped = small_df.groupby('artist')
print(type(grouped))
for name, group_df in grouped:
    print(name)
    print(group_df)
    break

In [ ]:
# Aggregate # Mins
for name, group_df in small_df.groupby('artist'):
    min_year = group_df['acquisitionYear'].min()
    print (f"{name}: {min_year}".format())

In [ ]:
# Transform 
# Equivalent of editing by hand
# Make a case where there is no data to interfere
# small_df.loc[[11838,16441], 'medium'] = np.nan

def fill_values(series):
    values_counted = series.value_counts()
    if values_counted.empty:
        return series
    most_frequent = values_counted.index[0]
    new_medium = series.fillna(most_frequent)
    return new_medium

def transform_df(source_df, col):
    group_dfs = []  
    for name, group_df in source_df.groupby('artist'):
        filled_df = group_df.copy()
        filled_df.loc[:, 'medium'] = fill_values(group_df['medium'])
        group_dfs.append(filled_df)
    
    new_df = pd.concat(group_dfs)
    return new_df

In [ ]:
# Check the result
filled_df = transform_df(small_df)

In [ ]:
# Built-ins
# Transform
grouped_mediums = small_df.groupby('artist')['medium']
small_df.loc[:, 'medium'] = grouped_mediums.transform(fill_values)

In [101]:
# Min
small_df.groupby('artist').agg(np.min)
small_df.groupby('artist').min()

,title,medium,year,acquisitionYear,width,height,units
artist,,,,,,,
"Frost, Sir Terry",Blue Moon,Drypoint on paper,1952.0,1983.0,125,143,mm
"Phillips, Esq Tom",[colophon],Etching on paper,1979.0,1983.0,292,204,mm
Wols,[no title],Etching and drypoint on paper,1937.0,1983.0,102,102,mm

In [98]:
# Filter
grouped_titles = small_df.groupby('title')
title_counts = grouped_titles.size().sort_values(ascending=False)

In [99]:
# Lamnda Filter
condition = lambda x: len(x.index) > 1
dup_titles_df =grouped_titles.filter(condition)
dup_titles_df.sort_values('title', inplace=True)