In [5]:
import sqlite3 as sl
import pandas as pd
import os

In [6]:
df = pd.read_pickle(os.path.join('..','data_frame.pickle'))
# Copy smaller data  for visual
small_df = df.iloc[49980:50019, : ].copy()

In [8]:
# Create auto create database and save table
with sl.connect('Database/Sqlite3Database.db') as conn:
    small_df.to_sql('Tate',conn)

In [ ]:
# Sample query
with sl.connect('Database/Sqlite3Database.db') as conn:
    cur = conn.cursor()
    res = cur.execute("SELECT  *  FROM Tate")
    res = res.fetchall()
    for row in res:
        print (row)

In [20]:
#using Pandas
with sl.connect('Database/Sqlite3Database.db') as conn:
    df2 = pd.read_sql_query("SELECT  DISTINCT artist  FROM Tate", conn)